{% extends "base.html"%}

{% block titulo %}
SB: About
{% endblock %}

{% block contenido %}

<div class="p-4 mb-2 bg-secondary text-white">Hola! Mi nombre es Eduardo González, trabajo en el mercado financiero y
    empecé a incursionar en Python para sumar otra herramienta que me permita analizar datos. </div>
<div class="p-4 mb-2 bg-secondary text-white">La idea de este proyecto está basada en el emprendimiento autogestivo de
    una pareja amiga que se dedica a la pastelería profesional. </div>
<div class="p-4 mb-2 bg-secondary text-white">Sé que aún queda mucho por mejorar, especialmente en el front, por lo que
    habrá que seguir trabajando... </div>
<div class="p-4 mb-2 bg-secondary text-white">Saludos! </div>
{% endblock %}