{% extends "base.html"%}

{% block titulo %}
SB: Contacto
{% endblock %}


{% block contenido %}


<div class="p-4 mb-2 bg-success text-white">Escribinos por whatsapp al 114444-5555 o acercate de miércoles a sábados, de
    9 a 20hs por Ambrosetti 121, CABA.</div>
<div class="p-3 mb-2 bg-info text-white">Además de nuestras tortas, en nuestro local podes encontrar mucha variedad
    de alfajores y cuadraditos; con nuevas propuestas cada semana.</div>
<div class="p-3 mb-2 bg-info text-white">Te esperamos!</div>


{% endblock %}