{% extends "base.html"%}

{% block titulo %}
Sheldon Bakery
{% endblock %}

{% block subtitulo %}
<h4>Bienvenido a Sheldon Bakery!</h4>

<div class="p-3 mb-2 bg-info text-white">Somos Mony y Roly, amantes de la pastelería creativa, nos enfocamos en cada
    detalle para hacer tus momentos únicos.</div>

<div class="p-3 mb-2 bg-info text-white">En nuestra pastelería podrás encontrar tortas personalizadas y también los
    clásicos de siempre.</div>

<div class="p-3 mb-2 bg-info text-white">Todo lo que ofrecemos es 100% artesanal, realizado con materia prima de
    excelente calidad.</div>


{% endblock %}